<%- include('../../shared/includes/head', {pageTitle: 'Your Cart'})  %>


<link rel="stylesheet" href="/styles/cart.css">


<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
<script src="/scripts/cart-item-management.js" defer></script>
</head>

<body>
	<%- include('../../shared/includes/header')  %>

	<main>
		<h1>Your cart</h1>
		<ul id="cart-items">
			<% for(const cartItem of cartItems) { %>
			<li class="cart-list">
				<%- include('./includes/cart-item', {cartItem: cartItem})  %>
			</li>
			<% } %>
		</ul>

		<div id="cart-total">
			<!-- 소수점 이하 2자리 반올림: .toFixed(2) -->
			<p>Total: <span id="cart-total-price"><%= formattedTotalPrice  %></span> KRW</p> 

			<% if(locals.isAuthenticated) { %>
				<% if(cartIsEmpty) { %>
					<p class="cart-item-fallback">Please add items to your cart before proceeding to buy.</p>
				<% } else { %>
					<p id="cart-fallback-after-delete"></p>
					<!-- <form action="/orders" method="POST"> -->
						<!-- <input type="hidden" name="_csrf" value="<%= /*locals.csrfToken*/  %>"> -->
						<button class="btn" onclick="handlePayment()">Buy Products</button>
					<!-- </form> -->
				<% } %>
			<% } else { %>
				<p class="cart-item-fallback">Log in to proceed and purchase the items.</p>
			<% } %>
		</div>
	</main>

<%- include('../../shared/includes/footer')  %>